*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    height: 11vh;
    width: 100vw;
    border: 5px solid blue;
    position: fixed;
}

.banner{
    height: 80vh;
    border: 2px solid red;
    display: flex;
    justify-content: center;    
    align-items: center;
}



main{
    height: 100vh;
    width: 100vw;
    border: 2px solid orange;
}

 .main{
    height: 120vh;
    border: 2px solid green;

}

.image-sections{
    display: grid;
    grid-template-columns:repeat(2, 200px);
    gap: 20px;
    margin-top: 2rem;

}

.images{
    position: relative;
    overflow: hidden;

}

.images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}